<!DOCTYPE html>
<html lang="en">
    <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link href="/static/main.css" rel="stylesheet" type="text/css">
        <title>上海大学法学院法律援助信息检索平台</title>
    </head>
 <div class="inner">

     <h2>{{title}}</h2>
     {% for content in content %}
     <p> {{content}}</p>
     {% endfor %}

 </div>





<body>

</body>
</html>
